# DAILY SCAN REPORT CONFIGURATION FILE

# Tolerence unit: percent (dsk,mem,cpu) days (log)
# Retention unit: days (must be greater than tolerance)
# Period unit (One-dsk or two-mem/cpu values seperate by comma, multiples of 60, eg 60,300): Seconds
# Stat Options: Minimum, Maximum, Sum, Average, SampleCount
#  and pNN.NN (Percentile, eg p20.80)

# Disk Scan report
dskScanTolerance=70
dskScanPeriod=300
dskScanStat="Average"
dskScanDashboardName="CheckDiskSpace"
dskScanMetricName="DiskSpaceUtilization"
dskScanNamespace="System/Linux"
dskScanMountPath="/"
dskScanFilesystem="/dev/xvda1"

# Memory Scan report
memScanTolerance=80
memScanPeriod=300,3600
memScanStat="Average"
memScanDashboardName="CheckMemoryUtilization"
memScanMetricName="MemoryUtilization"
memScanNamespace="System/Linux"

# CPU Scan report
cpuScanTolerance=80
cpuScanPeriod=300,3600
cpuScanStat="Average"
cpuScanDashboardName="CheckCPU"
cpuScanMetricName="CPUUtilization"
cpuScanNamespace="AWS/EC2"

# CloudWatch log stream scan report
logScanTolerance=365
logScanRetention=500 

# INSERT NEW REPORTS BELOW
